#traiv-catalog-section-link-more {
    background: #395469;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    position: relative;
}
#traiv-catalog-section-link-more:hover {
    text-decoration: underline;
}

#traiv-catalog-section-link-more.loader:before {
    content: " ";
    background-repeat: no-repeat;
    position: absolute;
    content: " ";
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/spin.gif);
    background-position: center;
    background-size: contain;
    cursor: default;
}
.slide-elements {
    display: none;
}
.u-offset-top-25.overflow-h .pagination {
	white-space: nowrap;
}

.x2d10{
    float: right;
}