/*.crumbs__item.is-active,.crumbs__item:nth-last-child(2)::after {
    display: none !important;
}*/

.prod-elem-content ul {
	display:block;
}

#result-tuning {
    display: none;
}

.sertimg img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

#QUANTITY {
    width: 8.6em;
}

.btn-mfp-dialog {
    display: inline-block;
    padding: 4px 9px;
    margin-top: -40px;
    border: 1px solid #679ED2;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #679ED2;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.btn-mfp-dialog:hover {
    border-color: #408AD2;
    background-color: #408AD2;
    color: #fff;
}

.u-align-center u-offset-bottom-15 {

    padding-right: 70px;
}
.prod-item-button {
    text-align: center;
    margin: 1.5em 0 2em 0;
}
.news-detail.prod{
    background: none;
    box-shadow: none;
    width: inherit;
    padding: 0;
}
.prod-detail-img{
    width: 29.33333%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 15em;
    padding: 1%;
/*    margin: 0 1%;*/
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
    border-radius: 3px;
}
.prod-detail-img:nth-of-type(2){
    margin: 0 3%;
}
.prod-detail-img img{
    max-height: 15em;
}
.prod-block{
    display: inline-flex;
}
.prod-detail-title{
    margin-top: 10px;
}
.prod-standart-block{
    /*height: 13pt;
    overflow: hidden;
    width: 87%;*/
    font-size: 13pt;
}
.prod-comma:nth-last-child(n+3):after {
    content: ', ';
}
.prod-standart-block a{
    font-size: 13pt;
    overflow: hidden;
}
.btn.prod-standart-more, .btn.prod-standart-less{
    padding: unset;
    line-height: unset;
}
.btn.prod-standart-less{
    display: none;
    margin-left: 2%;
}
.production_steps_banner img{
    width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    width: fill-available;
}
/*.production_steps_banner.two{
    padding: 1%;
    margin: 0 1%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
    border-radius: 3px;
}*/
.production_steps_title{
    text-align: center;
}
.tag-title, .tag-word{
    display: inline;
    font-size: 12pt;
}
/*.tag-word a {
    !* border: 1px solid #f90; *!
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    background: #5a85a7;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 0 1%;
    margin: 0 1%;
}*/
.tag-word a {
    /* border: 1px solid #f90; */
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    background: linear-gradient(184deg, rgba(245,247,249,1) 0%, rgba(227,231,237,1) 100%);
    border: 1px solid #bbc1c9;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    line-height: 20px;
    text-align: center;
    color: black;
    font-size: small;
    font-weight: 400;
    padding: 0 1%;
    margin: 0 1%;
}
/*.tag-word a:hover{
    color: #fff;
    transform: scale(1.10);
}*/
.tag-word a:hover{
    transform: scale(1.10);
    color: black;
}
.tags {
    padding: 1%;
    margin: 0 0 1% 0;
    background-color: #fff;
    box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 3px;
/*    text-align: center;*/
}
.tags-two{
    padding: 1%;
    margin: 0 1% 1% 0;
}
.prod-request-title-block{
    width: 100%;
    text-align: center;
}
.prod-request-title{
    color: black;
    font-weight: 400;
    font-size: large;
}
.prod_block{
    margin: 1% 1.5%;
}

input::-webkit-input-placeholder {
    color:black;
}
input::-moz-placeholder          {
    color:black;
}/* Firefox 19+ */
input:-moz-placeholder           {
    color:black;
}/* Firefox 18- */
input:-ms-input-placeholder      {
    color:black;
}
.webform-field-upload-notice{
    display: none;
}

.advantages-prod {
	clear:both;
	padding:10px;
}