/bitrix/cache/*
/bitrix/managed_cache/*
/upload
/upload_
/pma
/.git
/.well-known
/vendor
/composer.phar
/yandex_*.html
/google*.html
/.idea
*.sql
*.sql.*
*.log
*.log.*
*.tar
*.tar.*
*.gz
*.gz.*
*.zip
*.rar
*.7zip
*.jpg
*.jpeg
*.png
*.gif
*.mp3
*.mp4
*.avi
*.mpg
*.mpeg
*.exe
*.dt
*.doc
*.docx
*.xls
*.xlsx
*.swp
*.swo
*.pdf
*.tmp
*.txt
*.json
*.ico
*.xml
*.pem
*.svg
*.csv
*.min.css
*.min.js
*.min.map
.DS_Store
*.DS_Store
Thumbs.db
.Trashes
.bash_history
.viminfo
*.ignore*
._*
bitrix/php_interface/enterego_class/Subsidiary/conf.php
/bitrix/.settings_extra.php
/bitrix/catalog_export/
/bitrix/js/ipol.sdek/list.json
/bitrix/stack_cache
/bitrix/tmp/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/KladrErrorLog.txt
/log*txt
/sup.php
/temp_dir
/web.config
/users_osh*txt
/bitrix/php_interface/conf.php
bitrix/tmp/
/node_modules/
/!package.json