/*.layout{
	padding-bottom: 40px!important;
}*/
.traiv-catalog-line-default .catalog-item > .col,
.traiv-catalog-line-default .catalog-item .catalog-item__footer.col.x3d5 {
	float: left;	
}
.row{
	margin: 0!important;
}
.new-item-line{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	border-radius: 3px;
	background-color: #fff;
	margin: 0.3em 0;
}
.btn.new-item-line-buy{
	display: inline-block;
	padding: 0 3%;
	width: 130%;
}
.new-item-line-buy img, .buy-btn-label{
	display: inline;
	padding: 0 2px;
}
.new-item-line-buy img{
	width: 25%;
	/*margin-right: 5%;*/
	vertical-align: text-top;
}
.btn.new-item-line-buy.opt{
	width: 100%;
	padding: 0 10px;
	background-color: #679ED2;
	border: none;
}
.btn.new-item-line-buy.opt:hover{
	background-color: #386aaa;
}
.new-item-line__price{
display: inline-block;
font-size: 1.2em;
margin-block-start: .83em;
margin-block-end: .83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.new-item-line, .list-line-titles{
	padding: 0 1%;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/

}
.new-item-line span{
	word-break: break-all;
}
.new-item-line .xol, .list-line-titles .xol{
	vertical-align: middle;
	display: inline-block;
}
.new-item-line__title{
	margin: 0!important;
}
.new-item-line__title a{
	font-size: smaller;
}
.new-item-line__price span{
	font-size: small;
}
.new-item-line input{
	width: 66%;
}

/*#QUANTITY{
	width: 4em;
}*/
.position-list{
	display: inline;
}
.list-cart{
/*	float: right;*/
	/*margin-right: 1%;*/
}

.col{
	vertical-align: middle!important;
}
.p3{
	width: 3%;
}
/*RECOMENDED */

.catalog-item-rec {
	position: relative;
	display: block;
	margin: 0 0 10px;
	padding: 15px;
	background-color: #fff;
}
.catalog-item__title h4 {
	text-align: center;
	font-size: medium;
}

@media screen and (max-width: 769px) {
	.list-line-titles{
		display: none;
	}
	.p3{
		width: 5%;
		margin-left: 5%;
	}

	.new-item-line .size, .new-item-line .material{
		display: none;
	}
	.btn.new-item-line-buy{
		width: 100%;
	}
}
