<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>СРО верстка</title>

<link href="style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="slideto-1.0.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>
<body>

<div id="sliderBox">	
    <div class="container_small">
	   <center style="width:70%; margin:0px auto;">
          <p>Создание сайтов на битрикс <a href="/contacts/">форма заказа и контактные данные</a> пишите.</p> 
          <input type="button" id="closeWelcomeBox" value=""/>
       </center>	
   </div>
</div>



</body>
</html>
