blockquote.constructing {
margin: 0;

    background: linear-gradient(to top, #e38500, #ffb403);
    background-image: -webkit-gradient(
            linear, left top, left bottom, from(rgba(50,50,50,0.8)),
            to(rgba(80,80,80,0.2)), color-stop(.5,#333333)
    );
color: #333334;
padding: 20px 30px;
position: relative;
border-left: 35px solid #DFDEDE;
font-family: 'Lato', sans-serif;
}
blockquote:before {
content: "\0021";
font-family: serif;
position: absolute;
left: -26px;
top: 15px;
color: black;
font-size: 50px;
text-shadow: 1px 2px 0 white;
}