.gdo_list_link1 {
	display: block;
	background-color: #EFEFEF;
	font: 300 15px/18px 'Gilroy',sans-serif;
	padding: 15px 0px 15px 20px;
}

.gdo_list_link2 {
	display: block;
	background-color: #FBFBFB;
	font: 300 15px/18px 'Gilroy',sans-serif;
	padding: 15px 0px 15px 20px;
}