.slam-easyform .modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .slam-easyform  .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.slam-easyform  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.slam-easyform .modal .modal-header .title {
    margin: 0;
    font-size: 20px;
    display: inline-block;
}
.hide-formvalidation small.help-block{
    display: none!important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

.slam-easyform .spinner,.slam-easyform .spinner:hover {
    position: relative;
    color: transparent
}

.slam-easyform .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite
}

.col-xs-12{
    line-height: 12px;
}
/*textarea.form-control{
    max-height: 65px;
}*/

.min-summ-warning{
    float: left;
    margin-top: 5px;
    font-weight: 600;
    font-size: small;
}

.control-label{
    font-size: 14px;
}

.form-control{
    text-align: center;
    font-size: 14px!important;
    color: black!important;
}

.warning-buy{
    font-size: small;
     margin-top: 0;
}

.form-question:nth-child(1), .form-question:nth-child(2), .form-question:nth-child(6), .form-question:nth-child(7), .form-question:nth-child(8), .form-question:nth-child(9){
    width: 50%;
    display: inline-block;
}
.form-question:nth-child(3), .form-question:nth-child(4), .form-question:nth-child(5){
    width: 33.333333%;
    display: inline-block;
}
/*#FORM10-captchaContainer iframe{
    width: 210px;
}*/
.form-question:nth-child(8){
    height: 95px;
}
.form-question:nth-child(9){
    float: left;
}


.slam-easyform .form-control input::-webkit-input-placeholder {
    color:black;
}
.slam-easyform .form-control input::-moz-placeholder          {
    color:black;
}/* Firefox 19+ */
.slam-easyform .form-control input:-moz-placeholder           {
    color:black;
}/* Firefox 18- */
.slam-easyform input:-ms-input-placeholder      {
    color:black;
}
.form-control::placeholder {
    color:dimgray!important;
    font-size: 12px;
}
.webform-field-upload{
    width: 100%!important;
}
.submit-button{
    margin-top: 0.75em!important;
    padding: 0.6em 0!important;
}
