.edu-image-area{
	position:relative;
}

.edu-image-area img{
	z-index: 100;
	position: relative;
}

.edu-image-area::after{
z-index: 50;
    content: "";
    position: absolute;
    background-color: #f1f1f1;
    right: 10px;
    bottom: -10px;
    width: 90%;
    height: 90%;
}

.eduh2{
	font: 700 32px/36px 'Gilroy',sans-serif;
}

.eduh2 span{
font-weight:500;	
}

.edu-title-text {
    font: 100 24px/36px 'Gilroy',sans-serif;
}

.edu-area-type p {
	font: 700 18px/26px 'Gilroy',sans-serif;
}

.edu-area-type .title {
	font: 700 18px/22px 'Gilroy',sans-serif;
	opacity:0.8;
	color: #777777;
	min-height: 25px;
}

.edu-map-area {
	margin-top: 100px;
	background-color:#f1f1f1;
}

#edu-map {
	width:100%;
	height:400px;
}

.edu-list{
	list-style: none;
	padding:0px;
	margin:0px;
}

.edu-list li{
	padding:10px 0px;
	
	position: relative;
	padding-left:40px;
}

.edu-list li span{
	font: 500 22px/22px 'Gilroy',sans-serif;
}

.edu-list li i{
	font-size:20px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 50%;
    transform: translateY(-50%);
}

.edu-result-area{
	position:relative;
	margin-top: 20px;
}

.edu-result-area::after{
	position:absolute;
	left: 0px;
	top: 0px;
	background-color: #ffffff;
	content: "";
	transform: skewX(-10deg);
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.edu-result-text{
	z-index: 100;
	position: relative;
	padding: 20px 0px;
	text-transform: uppercase;
	font: 100 28px/22px 'Gilroy',sans-serif;
	color: #283890;
}

.edu-area-type .phone {
    font: 500 32px/22px 'Gilroy',sans-serif;
    opacity: 1;
    color: #777;
    min-height: 25px;
}

/*elements*/
.el-item {
  display: block;
  height: 100%;
  border:0px green solid;
  position:relative;
  background-color:#ffffff;
}

.el-item.bordered {
  padding: 24px;
  box-shadow: 0 10px 20px rgba(3,27,78,8%);  
  -webkit-transition: background .25s ease,
  border-color .25s ease,
  color .25s ease,
  box-shadow .25s linear;
  transition: background .25s ease,
  border-color .25s ease,
  color .25s ease,
  box-shadow .25s linear;
}

.el-item.bordered:hover {
 box-shadow: 0 10px 20px rgba(3,27,78,20%);
  color: #343a40;
}

.el-name {
	font-size: 20px;
	padding: 10px 0px;
}

.el-img img {
	padding:0px !important;
}

.el-button {
	padding-top: 15px;
}

.i-item {
  display: block;
  min-height: 300px;
  border:0px green solid;
  position:relative;
  background-color:#ffffff;
  	background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.i-item.bordered {
  padding: 24px;
  box-shadow: 0 10px 20px rgba(3,27,78,8%);  
  -webkit-transition: background .25s ease,
  border-color .25s ease,
  color .25s ease,
  box-shadow .25s linear;
  transition: background .25s ease,
  border-color .25s ease,
  color .25s ease,
  box-shadow .25s linear;
}

.i-item.bordered:hover {
 box-shadow: 0 10px 20px rgba(3,27,78,20%);
  color: #343a40;
}

.i-img {
	padding:0px !important;
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*end elements*/

/*hang*/
.hang-item {
	    background-color: #1ABCEB;
    padding: 60px;
}

.hang-item .hang-number{
	font: 700 110px/130px 'Gilroy',sans-serif;
	position:absolute;
	top: 50%;
    transform: translateY(-50%);
    color:#283890;
    left:-11%;
}

.hang-item .hang-title {
	font: 700 24px/30px 'Gilroy',sans-serif;
	color:#ffffff;
	padding-bottom:40px;
	padding-left:40px;
}

.hang-item .hang-note{
	font: 400 16px/20px 'Gilroy',sans-serif;
	color:#ffffff;
	padding-left:40px;
	    min-height: 120px;
}

/*end hang*/

@media only screen and (max-width : 576px) {

.edu-area-type .phone {
    font: 500 32px/48px 'Gilroy',sans-serif;
    opacity: 1;
    color: #777;
    min-height: 25px;
}

.hang-item {
	    background-color: #1ABCEB;
    padding: 30px;
}

.hang-item .hang-title {
	padding-left:20px;
}

.hang-item .hang-note{
	padding-left:20px;
}

.edu-area-type p {
	padding-bottom:20px;
}
	
}

