.traiv-news-list-main-page-news .preview-item {
    background: #fff;
    padding: 0;
}
.traiv-news-list-main-page-news .preview-item .image {
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.traiv-news-list-main-page-news .preview-item .description {
    border-left: 1px solid #e1e7eb;
    border-right: 1px solid #e1e7eb;
    border-bottom: 1px solid #e1e7eb;
    padding: 15px 13px;
    height: 13em;
}
.traiv-news-list-main-page-news .preview-item .description .date {
    color: #9e9e9e;
    font-size: 12px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 5px;
}
.traiv-news-list-main-page-news .preview-item .description h4 {
    height: auto;
}
.traiv-news-list-main-page-news .preview-item .description .text {
    height: 90px;
    overflow: hidden;
}

.traiv-news-list-main-page-news .u-align-right {
    margin-top: 15px;
}

.press-list-in {
	border:0px green solid;
	list-style:none;
	margin:0px;
	padding:0px;
}

.press-list-in li:first-child {
	margin-top:0px;
}

.press-list-in li {
	position:relative;
	margin-top:20px;
}

.press-list-in li a {
	font: 500 22px/28px 'Gilroy',sans-serif;
}

.press-list-in li .preview-text {
	text-align: justify;
	padding-top:5px;
}

.press-list-in li span {
	display: inline-block;
	padding:0px 5px;
font: 900 20px/40px 'Gilroy',sans-serif;
	color:#ff7519;
}