/*#ajax_basket {
      height: 68px;  
}
#ajax_basket > a {
    overflow: hidden;
    width: 180px;
    height: 68px;
background: #ffd584;
background: -moz-linear-gradient(top, #ffd584 0%, #ffb017 31%, #ffb017 31%, #da9614 100%);
background: -webkit-linear-gradient(top, #ffd584 0%,#ffb017 31%,#ffb017 31%,#da9614 100%);
background: linear-gradient(to bottom, #ffd584 0%,#ffb017 31%,#ffb017 31%,#da9614 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd584', endColorstr='#da9614',GradientType=0 );
position: relative;
}
#ajax_basket  >  a .image-basket {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 29px;
    width: 31px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAdCAYAAABSZrcyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NkU3QzA1NDRCOUQ1MTFFODg1ODZBMUU2OUMxOTE3OTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NkU3QzA1NDVCOUQ1MTFFODg1ODZBMUU2OUMxOTE3OTgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2RTdDMDU0MkI5RDUxMUU4ODU4NkExRTY5QzE5MTc5OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2RTdDMDU0M0I5RDUxMUU4ODU4NkExRTY5QzE5MTc5OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnbPjB8AAAFkSURBVHjavFfRdYMgFKUe/+sIjsAGcYNmBN3ATNCO4Ah2AzpBHYERGMFOQCGFBskDPfjgnnNjAM0F3uX5QqSUvSJTXBU/FBtFUoL6g8sthJlQEfFRwhhLiLeKCyAuSohbdkAIssa/Ig8sijPZgpKMqLw2LyleJ4iPik2i3qo4/beAWAgn5twbm+V5zJDhLJl3s+2nEgerOWFPMYe2vnP6B4RQ67AJ/eXlvvxnsW+nfdvE6c8HZ2LOQ24v6/hAAgiZrkeIeR8zXMh0rcRD0HAh0wkkww3WcHXgBp1q3512a66zmRiK4eqDK6eRMbT06s7wR/HVtK+mDwt6AQw65+7WXzK+V4YqMriQvJhi4jqrfWYS1iHtYtvu53ZM6KMmjojbCawITm8N+f33duqsxqvr+Im6bvJeq3TvgRGppIZqAVbtbNMV6EvJbtAzb3viLJCAUgzm4+vIljGo/kpg7/0hob8CDABD8BQC3SGdxwAAAABJRU5ErkJggg==');
}
#ajax_basket .label-baslet {
    position: absolute;
    top: 24px;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;  
    text-align: left;
}
#ajax_basket  > a #cart_total_summ {
    position: absolute;
    top: 35px;
    left: 73px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;  
    text-align: left;
    white-space: nowrap;
}

#ajax_basket > a #cart_total_count {
    position: absolute;
    top: 11px;
    left: 37px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #ffffff;
    border-radius: 50%;
    color: #ff9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.cart_total_count {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #ff0000;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -3px;
    left: 48px;
}


*/